predictions_cache/
models/
models
logs*
*.json
*.tar.gz
*.DS_Store
*.pyc
*.swp

notebooks/
results/
.ipynb_checkpoints
*/.ipynb_checkpoints/*

.idea
venv_hmmr

*.avi
*.mp4

src/external/neural_renderer
src/external/AlphaPose

*shell*


demo_data
demo_out
